/* Global styles */
.container {
    width: 607px;
    height: 829px;
    margin: auto;
    margin-top: 75px;
    border-radius: 12px;
    background-image: linear-gradient(180deg, #05fac5 0%, #7acfc1 100%);
}

.top-bar {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 60px;
}

.top-bar input,
.search-icon {
    display: flex;
    height: 78px;
    background: #ebfffc;
    border-radius: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}

.top-bar input {
    width: 362px;
    border: none;
    outline: none;
    padding-left: 40px;
}

.search-icon {
    width: 78px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.weather-image,
.weather-temp,
.weather-location {
    display: flex;
    justify-content: center;
    color: white;
}

.weather-temp {
    font-size: 120px;
}

.weather-location {
    font-size: 60px;
}

.data-container {
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.data {
    font-size: 34px;
    font-weight: 400;
}

.text {
    font-size: 20px;
    font-weight: 400;
}

.icon {
    margin-top: 10px;
}

/* Media queries go here */

/********** Large devices only **********/
@media (min-width: 1200px) {
    .container {
        width: 100%;
        height: 100;
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 0;
    }

    .top-bar {
        padding-top: 20px;
    }

    .top-bar input {
        max-width: 700px;
        width: 100%;
    }

    .search-icon {
        width: 80px;
        height: 80px;
    }

    .weather-temp {
        font-size: 80px;
    }

    .weather-location {
        font-size: 40px;
    }

    .element {
        gap: 8px;
    }
}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 100%;
        height: 100;
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 0;
    }

    .top-bar {
        padding-top: 20px;
    }
    
    .top-bar input {
        max-width: 500px;
    }
    
    .search-icon {
        width: 80px;
        height: 80px;
    }
    
    .weather-temp {
        font-size: 80px;
    }
    
    .weather-location {
        font-size: 40px;
    }
    
    .element {
        gap: 8px;
    }
    
}

/* Responsive styles for screens smaller than 414px (e.g., smaller mobile devices) */
@media (min-width: 326px) and (max-width: 991px) {

    .container {
        width: 100%;
        height: 100;
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 0;
    }

    .top-bar {
        padding-top: 5px;
        height: 10%;
    }
    
    .top-bar input {
        max-width: 150px;
    }
    
    .search-icon {
        width: 80px;
        height: 80px;
    }
    
    .weather-temp {
        font-size: 60px;
    }
    
    .weather-location {
        font-size: 30px;
    }
    
    .element {
        gap: 6px;
    }
    
}

/* Responsive styles for screens smaller than 325px (e.g., very small mobile devices) */
@media (max-width: 325px) {
   
    .top-bar {
        padding-top: 2px;
    }
    
    .top-bar input {
        max-width: 200px;
    }
    
    .search-icon {
        width: 80px;
        height: 80px;
    }
    
    .weather-temp {
        font-size: 40px;
    }
    
    .weather-location {
        font-size: 20px;
    }
    
    .element {
        gap: 4px;
    }
   
}
